#rp{
    position: relative;
    top: 550px;
    left: 50px;
}
#ap{
    position: absolute;
    top: 200px;
    left: 550px;
    font-size: 75px;
}
#fp{
    position: fixed;
    top: 10px;
    left: 550px;
    font-size: 25px;
}